{% extends 'base.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}

{% block body %}
    <h1>Blog</h1>
    <h2>Catégorie / {{ category.title }}</h2>
    <div class="flex home-list-cards">
        {% for topic in topics %}
            {% include '_partials/post/card-topic.html.twig' with { topic: topic } only %}
        {% endfor %}
    </div>
{% endblock %}
