{% extends 'base.html.twig' %}

{% block title %}Toutes les catégories!{% endblock %}

{% block body %}
    <h1>Catégories</h1>
    <h2>Elles sont toutes là</h2>


    <section class="flex home-list-cards">
        {% if app.user and 'ROLE_ADMINISTRATOR' in app.user.roles %}
            <div>
                <a class="user-button blue" href="{{ path('category-add') }}" class="">
                    Nouvelle catégorie
                </a>
            </div>
        {% endif %}

        {% for category in categories %}
            {% include '_partials/category/category.html.twig' with { category: category } only %}
        {% endfor %}
    </section>

{% endblock %}
