<div>
    <a href="{{ path('category-id', {slug: category.slug}) }}">
        {{category.title}} : {{category.posts|length}} topics.
    </a>
    {% if 'ROLE_ADMINISTRATOR' in app.user.roles %}
        <a href="{{ path('category-edit', {slug: category.slug}) }}" class="">
            Modifier
        </a>
    {% endif %}
</div>