{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="flex users-container">
        {% for user in users %}
                {% include '_partials/admin/user-card.html.twig' with { user: user } only %}
        {% endfor %}
    </div>
{% endblock %}
