body {
    background-color: #121212;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
a {
    text-decoration: none;
    color: inherit;
}
/*************** Globals ***************/
.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.gap {
    gap: 10px;
}
.w-100 {
    width: 100%;
}
.flex-end {
    align-items: flex-end;
}
.mb {
    margin-bottom: 10px;
}

.mt {
    margin-top: 10px;
}
/*************************************/

/*************** Topic **************/
.home-list-cards{
    gap: 20px;
    width: 1000px;
    margin: 0 auto;
    flex-direction: column;
}

.topic-container {
    background-color: #212121;
    border-radius: 20px;
    padding: 10px;
}
.title-card {
    font-size: 1.5em;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 850px;
}

.cat-card {
    font-size: .9em;
    color: white;
    background-color: black;
    width: max-content;
    border-radius: 13px;
    padding-inline: 10px;
}

.date-card{
    color: gray;
}

.details-container {
    background-color: #212121;
    width: 1000px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.details-title {
    font-size: 2em;
    font-weight: 500;
}

.details-text {
    max-width: 73ch;
    text-align: justify;
    font-size: 1.35em;
    margin-inline-start: 0.9em;
}

.container-comments {
    gap: 20px;
    width: 1000px;
    margin: 0 auto;
    flex-direction: column; 
}

.card-comment {
    /* height: 60px;
    max-height: 60px; */
    background-color: #212121;
    border-radius: 20px;
    padding: 10px;
}

.btn-submit-comment {
    background-color: #212121;
    color: white;
    font-size: 1.5em;
    border-radius: 20px;
    border: none;
    width: fit-content;
    padding: 10px;
}


/*************************************/

/************* Header ****************/
.header {
    background-color: #212121;
    padding: 20px;
}
/*************************************/


/************ Form login *************/
.form-div {
    background-color: #212121;
    padding: 10px;
    border-radius: 20px;
}

.form-contain {
    flex-direction: column;
    max-width: 1000px;
    margin-inline: auto;
}

.form-control {
    background-color: #121212;
    border-radius: 20px;
    border: none;
    height: 25px;
    color: white;
    font-size: 1.2em;
    width: 89%;
}

.required {
    min-width: 100px;
    display: inline-block;
    font-size: 1.2em;
}

.btn-submit {
    background-color: #212121;
    color: white;
    font-size: 1.5em;
    border-radius: 20px;
    border: none;
}
/*************************************/
