{% if comment.hidden == false %}
    <div class="card-comment">
    <div class="flex space-between mb">
        <div>{{comment.content}}</div>
        {% if 'ROLE_ADMINISTRATOR' in app.user.roles %}
            <a href="{{ path('topic-comment-close', {id: comment.id}) }}">Supprimer</a>
        {% endif %}
    </div>
    <div class="date-card flex space-between">
        <div>
            {{comment.author.pseudo}}
        </div>
        <div>
            {{comment.date|format_datetime('short','short',locale='en')}}
        </div>
    </div>
</div>
{% endif %}