{% extends 'base.html.twig' %}

{% block title %}Tous les topics{% endblock %}

{% block body %}
    <h1>Topics</h1>
    <h2>Ils son tous là</h2>

    <section class="flex home-list-cards">
        {% for topic in topics %}
            {% include '_partials/post/card-topic.html.twig' with { topic: topic } only %}
        {% endfor %}
    </section>
{% endblock %}
